//brand colors
$site-black: #333; //rgb(51, 51, 51)
$site-wheat: #e5c487; //rgb(229, 196, 135)
$site-green: #92b44b; //rgb(146, 180, 75)
$site-white: #fff;

$grid-float-breakpoint: 992px;

@mixin animation-transition() {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}