body {
    font-family: 'Roboto', sans-serif;
    color: $site-black;
}

.page-wrapper {
    min-height: 500px;
    &.calendar {
        position: relative;
        background: url(../img/hero_grains.jpg) center no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 60px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.8);
        }
        & + footer {
            margin-top: 0;
        }
    }
    &.members {
        .hero {
            margin-bottom: 50px;
            background-size: 100% 612px;
        }
    }
}

a {
    &:hover {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &.download {
        display: inline-block;
        float: right;
        color: $site-green;
        font-size: 20px;
        margin-top: 20px;
        border: 1px solid $site-green;
        padding: 8px 12px;
        img {
            height: 20px;
            position: relative;
            top: -3px;
            margin-right: 8px;
        }
        &:hover, &:focus {
            text-decoration: none;
            background-color: rgba(229, 196, 135, 0.4);
        }
    }
}

p {
    font-size: 16px;
    color: $site-black;
}